:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
.hidden{
  display: none;
}  

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
#resultados{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#btn_submit, .btn-excluir, .btn-editar, #btn_submitEdicao, #btn_cancelaEdicao,.btn-addNota,.btn-cancela{
  background-color: #242424;
  color: white;
  cursor: pointer;
}

